<%include ./partials/assets1/header.ejs%>

<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <!--content-->
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="./images/logo/logo2.png" style="width: 250px;" class="img-fluid">
                            <p class="lead text-white">Your University is online Now !</p>
                            <div class="btn-wrapper mt-5">
                                <a href="/login" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-key"></i></span>
                                    <span class="btn-inner--text">Sign In</span>
                                </a>
                                <a href="#" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                                    <span class="btn-inner--icon"><i class="fa fa-user-plus"></i></span>
                                    <span class="btn-inner--text">
                                            <span class="text-warning">Request</span> Sign Up</span>
                                </a>
                            </div>
                            <div class="mt-5">
                                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by : <strong>Team Vision</strong></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Svg Separator-->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>
</main>

<%include ./partials/assets1/footer.ejs%>