<%include ../partials/assets2/header%>
<%include ../partials/assets2/sidebar%>

<!--start of main content-->
<div class="main-content">
    <%include ../partials/assets2/navbar.ejs%>
    <%include ../partials/assets2/stats_card.ejs%>
    <!--start of page content-->
    <div class="container-fluid mt--7">

    </div>
</div>
<!--end of main content-->
<%include ../partials/assets2/ender.ejs%>