    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="./assets2/vendor/jquery/dist/jquery.min.js"></script>
    <script src="./assets2/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Argon JS -->
    <script src="./assets2/js/argon.js?v=1.0.0"></script>
    <!--optional charts-->
    <script src="/assets2/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/assets2/vendor/chart.js/dist/Chart.extension.js"></script>

    </body>
<!--End of body-->
</html>